body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #333;
	font-smoothing: antialiased;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
}


/* Header
===========================================*/
header{
	background-color: #333;
	padding: 4px 0;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* Лого
========================== */
.link{
	text-decoration: none;
	color: #FF6C00;
	font-size: 20px;
	font-weight: 700;
	position: relative;
	padding-bottom: 4px;
}
.link:hover{
	padding-top: 4px;
	border-bottom: 4px solid #FF6C00;
	transition: all .2s ease;
}


/* Навигация
========================== */

.nav{
	display: flex;
	margin: 7px 0;
}


.nav__link{
	margin-right: 10px;
	padding: 10px 15px;
	border: 1px solid #FF6C00;
	border-radius: 10px;

	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	transition: all .3s ease;
}
/*Последнему блоку навигации не нужен отступ*/
.nav__link:last-child{	margin-right: 0;}

.nav__link:hover{
	background-color: #D2D2D2;
	color: #000;
}


/* Intro
=================================== */
.intro{
	width: 100%;
	height: 600px;
	background: url(../img/mem.jpg) no-repeat #C4FFD0 center;
	background-size: cover;
}

.intro__inner{
	display: flex;
	justify-content: center;
}




/* Intro текст
============================= */
.intro__text{
	margin: 150px 100px 0 0;

	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	font-weight: 700;
	color: #333;
	background-color: #fff;
	padding: 5px 10px;

}





/* Second
================================*/
.second{
	width: 100%;
}

.second__inner{
	display: flex;
	margin: 40px 0;

}
.second__text{
	flex-direction: column;
	width: 80%;
	padding-right: 30px;
	text-align: justify;
	margin: auto 0;
}
.second__text h1{
	text-align: center;
}
.second__text p{
	background-color: #1C1C51;
	color: #fff;
	padding: 20px;
}


.second__icons{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;

}

.second__item{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.second__item img{
	width: 140px;
	justify-content: center;
	margin: 0 auto;
}
.second__item h6{
	display: block;
	position: relative;
	width: 120px;
	margin: 0 auto;
	padding-bottom: 2px;

	font-size: 11px;
	color: #ca2e2e;
}
.second__item h6:after {
	content: '';
	width: 100%;
	position: absolute;
	height: 2px;
	padding-top: 2px;
	right: 0;
	bottom: 0;
	background-color: #ca2e2e;

}	
.second__item p{
	margin: 5px 0 14px 0;
}


/* Third
================================*/
.third{
	background-color: #CA2E2E;
	color: #fff;
	display: flex;

}


.third__inner{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.third__photo{
	width: 50%;
	height: 562px;
	position: relative;
}

.third__photo img{
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
}


/*------------------*/

.third__text{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 22px;

}

.third__text__title{
	padding-top: 10px;
}

.third__text__ppp{
	height: 350px;
	overflow: auto;
	text-align: justify;
	font-size: 16px;
	border: 3px solid #333;
	padding: 10px;
}



/* Footer
============================= */

footer{
	background-color: #333;
	height: 200px;
	color: #fff;
	font-size: 36px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
}



